.git
.gitignore
.venv
.vscode
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.idea
.DS_Store
.env
.env.*
!/.env.example
coverage/
htmlcov/
node_modules/
**/__pycache__/
**/.pytest_cache/
**/*.log
**/*.sqlite3
**/*.db
data/chroma_db/
